%script{ src: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js' }
%script{ src: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js' }
%link{ rel: 'stylesheet',  href: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css' }



.container
  %h1 DisneyTour

  %form#attractions-form
    .attraction-form
      .main-container
        .attractions-map
          .attractions-map-wrapper
            = image_tag 'disney_map.jpg'
          - @attractions.each do |attraction|
            %a.attraction-point.attraction-label{ id: "attraction-#{attraction.algorithm_id}-point", class: "area-#{attraction.area_id}",
             'data-attraction-id' => attraction.algorithm_id,
             'data-area-id' => attraction.area_id}
              = attraction.algorithm_id


      .set-time-box
        .set-time-label
          %label.label-title.control-label{for: 'departed_date'} 予定日
          = text_field_tag 'departed[date]', DateTime.now.to_s, class: 'form-control date-picker'

        .set-time-label
          %label.label-title{for: 'departed_time'} 出発時刻
          %input.departed_hour{type: :time, name: 'departed_time'}

          %lable.set-default-time#opentime-label 開園時にする

        .set-time-label
          %label.label-title{for: 'finished_time'} 終了時刻
          %input.finished_hour{type: :time, name: 'finished_time'}

          %lable.set-default-time#closetime-label 閉園時にする
        = submit_tag 'サーチ', id: 'search-submit-btn', class: 'calc-submit-btn'



  .sidebar#ui-tab
    %ul.tabs
      %li.attraction-tab{'data-tab-content': '#attraction-tab'} アトラクション一覧
      %li.search-result-tab{'data-tab-content': '#search-result-tab'} 検索結果

    #tab-contents
      #attraction-tab.tab-content.area-names
        - @areas.each do |area|
          .acMenu
            %dt.area-name{ id: "area-#{area.id}-name",
                          class: "area-#{area.id}-list" }
              = area.name
            .attractions-list{ class: "area-#{area.id}-list" }
              - area.attractions.each do |attraction|
                %dd.attraction-name.attraction-label{ id: "attraction-#{attraction.algorithm_id}-name",
                  'data-attraction-id' => attraction.algorithm_id,
                  'data-area-id' => attraction.area_id}
                  = attraction.algorithm_id
                  = attraction.name

      #search-result-tab.tab-content
        %p hello,world
        #calc-results
          #calc-results-start
          #calc-results-attractions


-#:javascript
-#  $(function () {
-#    $('#ui-tab').tabs();
-#  });
